@page
@model EjemploRazorPages.pages.javascript.Leccion2Model
@{
}
<html>
    <head>
        <title>

        </title>
    </head>

    <body>
        <h1>Leccion 2. Objetos (DOM) y eventos</h1>

        <form>
            <input id="btnPresioname" type="button" value="Presioname" />
            <input id="btnColor" type="button" value="Cambiar Color" />
        </form>

        <script>
          

           let btn = document.getElementById("btnPresioname");
           btn.style.backgroundColor="blue";

           //querySelector
           //querySelectorAll
           //getElementById
           //getElementByclassName
           //getElementByTagName

           let btn = document.getElementById("btnPresioname");

           function mostrarMensaje()
           {
               alert("Hiciste clic")
           }
           btn.addEventListener("click",mostrarMensaje);

           document.querySelector("#btnColor").addEventListener("click",function(){

            let obj = document.querySelector("h1")
            obj.textContent = "Hola";
            obj.style.color = "red";
           });

        </script>
        
    </body>
</html>
