@page
@model EjemploRazorPages.pages.javascript.Leccion7Model
@{
}
<html>
    <head>
        <title></title>
    </head>
    <body>
        <h1>Leccion 7. Tablas con DOM</h1>

        <form>
            <label>Num. Control</label>
            <input type="text" /><br />
            <label>Nombre:</label>
            <input type="text" /><br />

            <input type="button" value="Agregar" />
        </form>

        <table>
           <thead>
               <tr>
                   <th>Num.Control</th>
                   <th>Nombre</th>
               </tr>
           </thead>
        </table>
    </body>
</html>